<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: common_head(_, _)">

</head>
<body th:replace="layout/body :: common_body(~{::div#container}, ~{::#selfJs})">

<div id="container" class="container">

	<th:block th:replace="~{layout/common :: page-header('房卡赠送')}" />

	<form id="cardGiftForm" onsubmit="return commonJs.cardGift();">
		<div class="form-group">
			<label for="presentee">玩家游戏id</label>
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="col-xs-4">
					<input type="number" class="form-control col-xs-4" id="presentee" name="presentee" min="10001" max="99999" />
				</div>
				<div class="col-xs-4">
					<button type="button" class="btn btn-primary hidden" onclick="commonJs.getByGameIDWithCardNum(presentee.value, showAccount)">查　询</button>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="cardNum">赠送房卡</label>
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="col-xs-5">
					<div class="input-group">
						<input type="number" class="form-control" id="cardNum" name="cardNum" min="-1024" max="1024" />
						<div class="input-group-addon">张</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="giftReason">赠卡备注</label>
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="col-xs-8">
					<textarea class="form-control" id="giftReason" name="giftReason" rows="3"></textarea>
				</div>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">赠　送</button>
		</div>
	</form>

	<div class="page-header">
		<h4>赠卡记录</h4>
	</div>

	<th:block th:replace="~{layout/common :: table-paginator('table')}" />

</div>

<th:block id="selfJs">

	<th:block th:replace="~{layout/common :: pageJs}" />
	<th:block th:replace="~{layout/common :: dateTimeJs}" />

	<script type="text/javascript" th:inline="javascript">
	    var commonJs = new CommonJs();
	    var presentee;

	    $("#table").tableInit('cardGiftRecord');

		var $this, $row;
		$('input#presentee').on('keyup', function() {
			$this = $(this), $row = $this.parents('div.row');
			presentee = $this.val();
			if(presentee.trim().length > 0)
				$row.find('button').removeClass('hidden');
			else
				$row.find('button').addClass('hidden');
		})

		function showAccount(data) {
			if (!data)
				return alert('未查询到结果');
			alert(
				'游戏id: ' + data.gameId + '\n' +
				'昵称: ' + data.nickName + '\n' +
				'房卡: ' + data.insureScore
			)
		}
	</script>

</th:block>

</body>
</html>