<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_head(title, links)">

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" type="image/x-icon" href="../static/favicon.ico" th:href="@{/favicon.ico}" />

	<title th:replace="${title} ?: _">[[${systemInfo?.title}]]</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" media="all" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link rel="stylesheet" type="text/css" media="all"
	      href="../static/bootstrap/css/ie10-viewport-bug-workaround.css" th:href="@{/bootstrap/css/ie10-viewport-bug-workaround.css}" />

	<!-- Common CSS -->
	<link rel="stylesheet" type="text/css" media="all" href="../static/custom/css/sticky-footer.css" th:href="@{/custom/css/sticky-footer.css}" />
	<link rel="stylesheet" type="text/css" media="all" href="../static/custom/css/common.css" th:href="@{/custom/css/common.css}" />

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script type="text/javascript" src="../static/bootstrap/js/ie8-responsive-file-warning.js" th:src="@{/bootstrap/js/ie8-responsive-file-warning.js}"></script><![endif]-->
	<script type="text/javascript" src="../static/bootstrap/js/ie-emulation-modes-warning.js" th:src="@{/bootstrap/js/ie-emulation-modes-warning.js}"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script type="text/javascript" src="../static/bootstrap/js/html5shiv.min.js" th:src="@{/bootstrap/js/html5shiv.min.js}"></script>
	<script type="text/javascript" src="../static/bootstrap/js/respond.min.js" th:src="@{/bootstrap/js/respond.min.js}"></script>
	<![endif]-->

	<!--/* Per-page placeholder for additional links */-->
	<th:block th:replace="${links}" />

</head>

</html>