<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<body th:fragment="common_body(container, scripts)" th:with="principal = ${session?.SPRING_SECURITY_CONTEXT?.authentication?.principal}">

	<div th:replace="layout/common :: nav"></div>

	<th:block th:replace="${container}"/>

	<div th:replace="layout/common :: footer"></div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="../static/bootstrap/js/jquery-3.2.1.min.js" th:src="@{/bootstrap/js/jquery-3.2.1.min.js}"></script>
	<!--<script>window.jQuery || document.write('<script src="../static/bootstrap/js/jquery-3.2.1.min.js" th:src="@{/bootstrap/js/jquery-3.2.1.min.js}"><\/script>')</script>-->
	<script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script type="text/javascript" src="../static/bootstrap/js/ie10-viewport-bug-workaround.js" th:src="@{/bootstrap/js/ie10-viewport-bug-workaround.js}"></script>
	<!-- common js -->
	<script type="text/javascript" src="../static/custom/js/common.js" th:src="@{/custom/js/common.js}"></script>

	<!--/* Per-page placeholder for additional scripts */-->
	<th:block th:replace="${scripts}" />

</body>

</html>