<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: common_head(_, _)">

</head>
<body th:replace="layout/body :: common_body(~{::div#container}, ~{::#selfJs})">

        <div id="container" class="container">

            <div class="page-header"></div>

            <div class="well">
                <p>
                    开通新<span class="text-primary">一级代理，二级代理</span>。
                </p>
            </div>

            <hr />

            <form id="getOfficeForm" class="form-horizontal" onsubmit="return false;">
                <div class="form-group">
                    <label  class="control-label">名称</label>
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-3">
                            <input type="tel" class="form-control" placeholder="请输入名称" id="NickName"/>
                        </div>
                        <div class="col-xs-3">
                            <select id="slpk" class="form-control selectpicker" >
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Accounts">账号</label>
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-4">
                            <input type="tel" class="form-control" id="Accounts" name="Accounts"  placeholder="请输入手机号"
                                   pattern="^(0|86|17951)?(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}$" required minlength="1" maxlength="11" />
                        </div>
                    </div>
                </div>

               <!-- <div class="form-group">
                    <label for="gameId">游戏ID</label>
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-4">
                            <input type="number" class="form-control" id="gameId" name="gameId"  placeholder="请输入游戏号" required minlength="1" maxlength="11" />
                        </div>
                    </div>
                </div>-->

            <hr/>
                <div class="form-group">
                    <div class="col-xs-3" >
                        <button type="reset" class="btn btn-warning">重 置</button>
                    </div>

                    <div class="col-xs-3">
                        <button type="submit" class="btn btn-primary" id="save">保 存</button>
                    </div>

                </div>
            </form>

        </div>


        <th:block id="selfJs">

        <script type="text/javascript" >
            var commonJs=new CommonJs();

            $(function(){
                  $.ajax({
						type : 'get',
						url : '/role/getAgent/',
						dataType : 'json',
						success : function(data) {
							var select = $("#slpk");
							select.html("<option>请选择级别</option>");
							var datas=data.content.list;
							for (var i = 0; i < datas.length; i++) {
								select.append("<option value='"+data.content.list[i].roleName +"'>"
										+ data.content.list[i].roleName + "</option>");
							}
						}
					});
            })

        var office=0;

        $("#slpk").change(function(){
            office=$('#slpk').val();
            console.log(office);
        })

          $('#getOfficeForm').submit(function(){
                var name=$("input#NickName").val();
                var accounts=$("input#Accounts").val();
                var gameId=$("input#gameId").val();
				  $.ajax({
                        type: 'post',
                        url:'/agent/getOffice/'+name+'/'+office+'/'+accounts,
                        dataType:'Json',
                        success:function(data){
                            if(data.status){
                                 alert("开通成功");
                                 window.location.reload();
                            }else{
                                alert(data.msg);
                            }
                        }
                    });
			});

        </script>

        </th:block>

</body>

</html>



