<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bamenyouxi.invite_code_mode.mapper.sqlserver.treasure.UserFangKaCostMapper">
	<resultMap id="resultMap" type="com.bamenyouxi.invite_code_mode.model.sqlserver.treasure.UserFangKaCost">
		<result property="userId" column="UserID" />
		<result property="kindId" column="KindID" />
		<result property="fangKa" column="FangKa" />
		<result property="costTime" column="CostTime" />
	</resultMap>

	<select id="findOpenRoomPerhourRecord" resultType="com.bamenyouxi.invite_code_mode.model.mysql.invite_code_mode.OpenRoomPerhourRecord">
			SELECT
				KindID gameTypeId,
				CONVERT(VARCHAR(13), CostTime, 120) + ':00:00' createTime, SUM(FangKa) cardCost, COUNT(0) openRoomNum
			FROM
				QPTreasureDB.dbo.UserFangKaCost
		<where>
			<if test="startDate != null">
			  	AND CONVERT (VARCHAR(13), CostTime, 120) &gt;= CONVERT (VARCHAR(13), #{startDate}, 120)
			</if>
			<if test="endDate != null">
				AND CONVERT (VARCHAR(13), CostTime, 120) &gt;= CONVERT (VARCHAR(13), #{endDate}, 120)
			</if>
		</where>
		GROUP BY
			KindID, CONVERT(VARCHAR(13), CostTime, 120)
	</select>

	<select id="findUserOpenRoomPerdayRecord" resultType="com.bamenyouxi.invite_code_mode.model.mysql.invite_code_mode.UserOpenRoomPerdayRecord">
		SELECT
			a.UserID userId, GameID gameId, Accounts accounts, KindID gameTypeId,
			CONVERT(VARCHAR(10), CostTime, 120) + ' 00:00:00' createTime, SUM(FangKa) cardCost, COUNT(0) openRoomNum
		FROM
			QPTreasureDB.dbo.UserFangKaCost a
		INNER JOIN
			QPAccountsDB.dbo.AccountsInfo b
		ON a.UserID = b.UserID
		<where>
			<if test="startDate != null">
				and CONVERT(VARCHAR(10), CostTime, 120) &gt;= CONVERT(VARCHAR(10), #{startDate}, 120)
			</if>
			<if test="endDate != null">
				and CONVERT(VARCHAR(10), CostTime, 120) &lt;= CONVERT(VARCHAR(10), #{endDate}, 120)
			</if>
		</where>
		GROUP BY
			a.UserID, GameID, Accounts, KindID, CONVERT(VARCHAR(10), CostTime, 120)
	</select>
</mapper>