<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bamenyouxi.invite_code_mode.mapper.mysql.invite_code_mode.OpenRoomPerhourRecordMapper">
	<resultMap id="resultMap" type="com.bamenyouxi.invite_code_mode.model.mysql.invite_code_mode.OpenRoomPerhourRecord">
		<id property="id" column="F_ID" />
		<result property="sysFlag" column="F_SYS_FLAG" />
		<result property="creator" column="F_CREATOR" />
		<result property="createTime" column="F_CREATE_TIME" />
		<result property="modifier" column="F_MODIFIER" />
		<result property="modifyTime" column="F_MODIFY_TIME" />

		<result property="gameTypeId" column="F_GAME_TYPE_ID" />
		<result property="openRoomNum" column="F_OPEN_ROOM_NUM" />
		<result property="cardCost" column="F_CARD_COST" />
		<result property="gameType" column="F_GAME_TYPE" />
		<result property="gameTypes" column="F_GAME_TYPES" />
	</resultMap>

	<select id="get" resultMap="resultMap">
		select * from t_open_room_perhour_record
		<where>
			<foreach collection="params" index="key" item="value">
				<if test="value !=null">
					and ${key} = #{value}
				</if>
			</foreach>
		</where>
	</select>

	<insert id="saveMul">
		INSERT ignore INTO t_open_room_perhour_record
			(
			F_GAME_TYPE_ID, F_OPEN_ROOM_NUM, F_CARD_COST, F_GAME_TYPE,F_CREATE_TIME
			)
		VALUES
		<foreach collection="list" item="item" separator=",">
			(
				#{item.gameTypeId}, #{item.openRoomNum}, #{item.cardCost},#{item.gameType},#{item.createTime}
			)
		</foreach>
	</insert>



</mapper>