<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bamenyouxi.invite_code_mode.mapper.mysql.invite_code_mode.PayGoldRecordMapper">
	<resultMap id="resultMap" type="com.bamenyouxi.invite_code_mode.model.mysql.invite_code_mode.PayGoldRecord">
		<id property="id" column="F_ID" />
		<result property="sysFlag" column="F_SYS_FLAG" />
		<result property="creator" column="F_CREATOR" />
		<result property="createTime" column="F_CREATE_TIME" />
		<result property="modifier" column="F_MODIFIER" />
		<result property="modifyTime" column="F_MODIFY_TIME" />

		<result property="presenter" column="F_PRESENTER" />
		<result property="presentee" column="F_PRESENTEE" />
		<result property="goldNum" column="F_GOLD_NUM" />
		<result property="goldPrice" column="F_GOLD_PRICE" />
		<result property="selected" column="F_SELECTED" />
		<result property="payReason" column="F_PAY_REASON" />
	</resultMap>

	<select id="get" resultMap="resultMap">
		select * from t_pay_gold_record
		<where>
			<foreach collection="params" index="key" item="value">
				<if test="value != null">
					and ${key} = #{value}
				</if>
			</foreach>
		</where>
	</select>

	<select id="selectedName" resultMap="resultMap">
		select * from t_pay_gold_record
		<where>
			<if test="startDate != null">
				and convert(F_CREATE_TIME, DATE) &gt;= convert(#{startDate},DATE)
			</if>
			<if test="endDate != null">
				and convert(F_CREATE_TIME, DATE) &lt;= convert(#{endDate}, DATE)
			</if>
			<if test="selected != null  and selected!='' ">
				and F_SELECTED = #{selected}
			</if>
		</where>
	</select>

	<insert id="save" parameterType="com.bamenyouxi.invite_code_mode.model.mysql.invite_code_mode.PayGoldRecord">
		insert into t_pay_gold_record (
			F_PRESENTER, F_PRESENTEE, F_GOLD_NUM
			<if test="goldPrice != null">
				, F_GOLD_PRICE
			</if>
			<if test="selected != null">
				, F_SELECTED
			</if>
			<if test="payReason != null">
				, F_PAY_REASON
			</if>
		) values (
			#{presenter}, #{presentee},#{goldNum}
			<if test="goldPrice != null">
				,  #{goldPrice}
			</if>
			<if test="selected != null">
				, #{selected}
			</if>
			<if test="payReason != null">
				, #{payReason}
			</if>
		)
	</insert>


</mapper>