<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bamenyouxi.invite_code_mode.mapper.mysql.invite_code_mode.PayOrderPerdayStatisticMapper">
    <cache />
    <resultMap id="resultMap" type="com.bamenyouxi.invite_code_mode.model.mysql.invite_code_mode.PayOrderPerdayStatistic">
        <id property="id" column="F_ID" />
        <result property="sysFlag" column="F_SYS_FLAG" />
        <result property="creator" column="F_CREATOR" />
        <result property="createTime" column="F_CREATE_TIME" />
        <result property="modifier" column="F_MODIFIER" />
        <result property="modifyTime" column="F_MODIFY_TIME" />

        <result property="userId" column="F_USER_ID" />
        <result property="gameId" column="F_GAME_ID" />
        <result property="accounts" column="F_ACCOUNTS" />
        <result property="payPrice" column="F_PAY_PRICE" />
        <result property="cardGold" column="F_CARD_GOLD" />
    </resultMap>

    <select id="get" resultMap="resultMap">
        select
            <choose>
                <when test="params.groupBy == null">
                    *
                </when>
                <otherwise>
                    F_USER_ID, F_GAME_ID, F_ACCOUNTS,
                    sum(F_PAY_PRICE) as F_PAY_PRICE, sum(F_CARD_GOLD) as F_CARD_GOLD,
                    convert(F_CREATE_TIME, date) F_CREATE_TIME
                </otherwise>
            </choose>
        from t_pay_order_perday_statistic
        <where>
            <foreach collection="params" index="key" item="value">
                <if test="value != null">
                    <choose>
                        <when test="key == 'startDate'">
                            and convert(F_CREATE_TIME, DATE) &gt;= convert(#{value}, DATE)
                        </when>
                        <when test="key == 'endDate'">
                            and convert(F_CREATE_TIME, DATE) &lt;= convert(#{value}, DATE)
                        </when>
                        <when test="key == 'teamNo'">

                        </when>
                        <when test="key == 'groupBy'">

                        </when>
                        <when test="key == 'superAgentGameId'">
                            <if test="params.teamNo == 't1'">
                                and F_GAME_ID in (
                                    select F_GAME_ID from t_sys_agent where F_SUPER_AGENT_GAME_ID = #{value}
                                    and F_IS_AUTHORIZED is false

                                    union

                                    select #{value}
                                )
                            </if>
                            <if test="params.teamNo == 't2'">
                                and F_GAME_ID in (
                                    select F_GAME_ID from t_sys_agent where F_SUPER_AGENT_GAME_ID = #{value}
                                    and F_IS_AUTHORIZED is true

                                    union

                                    select F_GAME_ID from t_sys_agent where F_SUPER_AGENT_GAME_ID in (
                                        select F_GAME_ID from t_sys_agent
                                        where F_SUPER_AGENT_GAME_ID = #{value}
                                        AND F_IS_AUTHORIZED IS TRUE
                                    ) and F_IS_AUTHORIZED is false
                                )
                            </if>
                            <if test="params.teamNo == 't3'">
                                and F_GAME_ID in (
                                    select F_GAME_ID from t_sys_agent where F_SUPER_AGENT_GAME_ID in (
                                        select F_GAME_ID from t_sys_agent where F_SUPER_AGENT_GAME_ID = #{value}
                                        and F_IS_AUTHORIZED is true
                                    )
                                    and F_IS_AUTHORIZED is true

                                    union

                                    select F_GAME_ID from t_sys_agent where F_SUPER_AGENT_GAME_ID in (
                                        select F_GAME_ID from t_sys_agent
                                        where F_SUPER_AGENT_GAME_ID in (
                                            select F_GAME_ID from t_sys_agent
                                            where F_SUPER_AGENT_GAME_ID = #{value}
                                            and F_IS_AUTHORIZED is true
                                        )
                                        AND F_IS_AUTHORIZED IS TRUE
                                    ) AND F_IS_AUTHORIZED IS false
                                )
                            </if>
                        </when>
                        <otherwise>
                            and ${key} = #{value}
                        </otherwise>
                    </choose>
                </if>
            </foreach>
        </where>
        <if test="params.groupBy != null">
            group by ${params.groupBy}
        </if>
    </select>

    <update id="update" parameterType="com.bamenyouxi.invite_code_mode.model.mysql.invite_code_mode.PayOrderPerdayStatistic">
        update t_pay_order_perday_statistic
        <set>
            <if test="gameId != null">
                F_GAME_ID = #{gameId},
            </if>
        </set>
        <where>
            <choose>
                <when test="id != null">
                    and F_ID = #{id}
                </when>
                <when test="_gameId != null">
                    and F_GAME_ID = #{_gameId}
                </when>
                <when test="gameId != null">
                    and F_GAME_ID = #{gameId}
                </when>
                <otherwise>
                    and F_ID = 0
                </otherwise>
            </choose>
        </where>
    </update>

    <insert id="save" parameterType="com.bamenyouxi.invite_code_mode.model.mysql.invite_code_mode.PayOrderPerdayStatistic">
        insert into t_pay_order_perday_statistic
        (
            F_USER_ID, F_GAME_ID, F_ACCOUNTS, F_PAY_PRICE, F_CARD_GOLD, F_CREATE_TIME
        ) values(
            #{userId}, #{gameId}, #{accounts}, #{payPrice}, #{cardGold}, #{createTime}
        ) on duplicate key update
            F_PAY_PRICE = #{payPrice}, F_CARD_GOLD = #{cardGold}
    </insert>

    <!-- 每日订单汇总 -->
    <select id="payOrderPerdayStatistic" resultMap="resultMap">
        select
            F_USER_ID, F_GAME_ID, F_ACCOUNTS, sum(F_PAY_PRICE) as F_PAY_PRICE,
            sum(F_CARD_GOLD) as F_CARD_GOLD, CONVERT(F_CREATE_TIME, DATE) as F_CREATE_TIME
        from
            t_pay_order
        where
            F_SYS_FLAG = 1
        and
            CONVERT(F_CREATE_TIME, DATE) = CONVERT(#{createTime}, DATE)
        group by
            F_GAME_ID, CONVERT(F_CREATE_TIME, DATE)
        order by
            F_CREATE_TIME asc
    </select>
</mapper>
