<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: common_head(_, ~{::link})">
	<link rel="stylesheet" type="text/css" media="all"
	      href="../static/bootstrap/css/bootstrap-datetimepicker.min.css" th:href="@{/bootstrap/css/bootstrap-datetimepicker.min.css}" />
</head>
<body th:replace="layout/body :: common_body(~{::div#container}, ~{::#selfJs})">

<div id="container" class="container">

	<th:block th:replace="~{layout/common :: page-header('用户新增-统计')}" />

	<th:block th:replace="~{layout/common :: start-end-date-input}" />

	<th:block th:replace="~{layout/common :: table-paginator('table')}" />

</div>

<th:block id="selfJs">

	<th:block th:replace="~{layout/common :: pageJs}" />
	<th:block th:replace="~{layout/common :: dateTimeJs}" />

	<script type="text/javascript" th:inline="javascript">
	    var commonJs = new CommonJs();

	    commonJs.datetimeInit(function() {
			var F_endDate = new Date(new Date().valueOf() - 24 * 60 * 60 * 1000).format('yyyy-MM-dd');
			$('#startDate').datetimepicker('setEndDate', F_endDate);
			$('#endDate').datetimepicker('setEndDate', F_endDate);
	        $('#endDate').val(F_endDate);

	        $("#table").tableInit('cardCostUser');
	    });
	</script>

</th:block>

</body>
</html>