<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<body>

	<!-- 导航条 -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" th:fragment="nav">
		<div class="container">

			<div class="navbar-header" th:if="${principal} ne null">

				<a class="navbar-brand" href="/" th:href="@{/}"><span class="glyphicon glyphicon-home"></span></a>

				<span class="navbar-brand" style="width: 60%; text-align: right;">[[${systemInfo?.title}]]</span>

				<a class="navbar-brand" style="float: right;" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> 退出</a>

			</div>

			<div class="navbar-header" th:if="${principal} eq null">
				<a class="navbar-brand" style="width: 100%; text-align: center;">[[${systemInfo?.title}]]</a>
			</div>

		</div>
	</nav>

	<!-- 页尾 -->
	<footer class="footer" th:fragment="footer">
		<div class="container">
			<!--<p class="text-muted">Copyright &copy; 2017 [[${systemInfo.gameName}]]</p>-->
		</div>
	</footer>

	<!-- bootstrap 分页 + 表格渲染js -->
	<th:block th:fragment="pageJs">
		<!-- paginator and table grid -->
		<script type="text/javascript" src="../static/bootstrap/js/bootstrap-paginator.js" th:src="@{/bootstrap/js/bootstrap-paginator.js}"></script>
		<script type="text/javascript" src="../static/custom/js/bootstrap-table.js" th:src="@{/custom/js/bootstrap-table.js}"></script>
		<script type="text/javascript" src="../static/custom/js/table-init.js" th:src="@{/custom/js/table-init.js}"></script>
	</th:block>

	<!-- bootstrap 日期时间控件 -->
	<th:block th:fragment="dateTimeJs">
		<!-- datetimepicker -->
		<script type="text/javascript" src="../static/bootstrap/js/bootstrap-datetimepicker.min.js" th:src="@{/bootstrap/js/bootstrap-datetimepicker.min.js}"></script>
		<script type="text/javascript" src="../static/bootstrap/js/bootstrap-datetimepicker.zh-CN.js" th:src="@{/bootstrap/js/bootstrap-datetimepicker.zh-CN.js}"></script>
	</th:block>

	<!-- startDate endDate input-group -->
	<th:block th:fragment="start-end-date-input">

		<div class="input-group">
			<span id="_startDate" class="input-group-addon">开始日期</span>
			<input type="text" id="startDate" class="form-control date form_date" aria-describedby="_startDate" readonly />
		</div><br />

		<div class="input-group">
			<span id="_endDate" class="input-group-addon">结束日期</span>
			<input type="text" id="endDate" class="form-control date form_date" aria-describedby="_endDate" readonly />
		</div><br />

	</th:block>

	<!-- page-header -->
	<th:block th:fragment="page-header(title)">

		<div class="page-header"></div>

		<div class="page-header">
			<h4>[[${title}]]</h4>
		</div>

	</th:block>

	<!-- 文本框默认文字 -->
	<th:block th:fragment="unfilled">
		<font color="grey"><i>未填写</i></font>
	</th:block>

	<!-- list列表右箭头 -->
	<th:block th:fragment="list-arrow">
		<span style="float: right;">&gt;</span>
	</th:block>

	<!-- list-group-item -->
	<th:block th:fragment="list-group-item(url, font, title)">

		<a th:href="@{${url}}" class="list-group-item">
			<span th:class="|glyphicon ${font}|"></span> [[${title}]]<th:block th:replace="~{::list-arrow}" />
		</a>

	</th:block>

	<th:block th:fragment="list-group-item-for-model(modelId, font, title)">

		<a class="list-group-item" data-toggle="modal" th:data-target="${modelId}" role="button">
			<span th:class="|glyphicon ${font}|"></span> [[${title}]]<th:block th:replace="~{::list-arrow}" />
		</a>

	</th:block>

	<!-- form-control-static -->
	<th:block th:fragment="form-control-static(label, attr, text, formGroupClass)">

		<div th:class="${'form-group' + formGroupClass}">
			<label class="col-xs-4 control-label">[[${label}]]</label>
			<div class="col-xs-8">
				<p th:id="${attr}" class="form-control-static" th:text="${text} ?: _"><th:block th:replace="~{::unfilled}" /></p>
			</div>
		</div>

	</th:block>

	<!-- table page -->
	<th:block th:fragment="table-paginator(tableId)">

		<table th:id="${tableId}" class="table table-condensed"></table>

		<div style="text-align: center"><ul></ul></div>

	</th:block>

</body>

</html>