<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="modal fade bs-example-modal-sm" id="pastNoModel" tabindex="-1" role="dialog"
	     aria-labelledby="pastNo" aria-describedby="兑换码" th:fragment="pastNoModel">

		<div class="modal-dialog" role="document" aria-hidden="true">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="pastNo">使用（已过期）的兑换码</h4>
				</div>

				<!--<div class="input-group col-xs-10">-->
					<!--<input type="text" class="form-control" id="cardcode" name="cardcode" placeholder="请输入兑换码" aria-describedby="card" />-->
					<!--<span class="input-group-addon" id="cardSelect">查询</span>-->
				<!--</div>-->

				<div class="modal-body">


					<th:block th:replace="~{layout/common :: table-paginator('model-table')}" />

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>

	</div>
</body>
</html>