<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="modal fade bs-example-modal-sm" id="groupPartnerMessageModel" tabindex="-1" role="dialog"
	     aria-labelledby="groupPartnerMessage" aria-describedby="合伙人明细" th:fragment="groupPartnerMessageModel">

		<div class="modal-dialog" role="document" aria-hidden="true">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="groupPartnerMessage">合伙人明细</h4>
				</div>



				<div class="modal-body">

					<font id="sums">充值总金额：</font>
					<hr/>


					<th:block th:replace="~{layout/common :: table-paginator('model-table')}" />

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>

	</div>

	<th:block th:fragment="groupPartnerMessageModelJs">

		<script type="text/javascript">
			var commonJs = new CommonJs();

			 $('#groupPartnerMessageModel').on('show.bs.modal', function (event) {
				var modal = $(this);
				var button = $(event.relatedTarget);
				var element = button.parents('tr');
				var account = element.find('td[name="account"]').text();

				modal.find('.modal-title').text(account + ' 合伙人业绩明细');
                $('#model-table').tableInit('groupPartnerMessage', account);


                $(function(){
	            //document加载完触发
	            queryMoneyAjax();
	            //日期Vlaue更改触发
                $("#monitorTime").on('change',function(){
                    queryMoneyAjax();
                });

            })

        function queryMoneyAjax(){
            $.ajax({
                    type: 'get',
                    url:'/admin/queryPartnerSumMoney/',
                    dataType:'Json',
                    async : false,
                    data:{
                    	account:account,
                        startDate: $('#startDate').val(),
                        endDate: $('#endDate').val()
                    },
                    success:function(result){
                          console.log(JSON.stringify(result));
                          var sum=result.sumBig;
                          if(sum<0){
                            $("#sums").html('代理商充值总金额：<font>' + 0 + '</font>');
                          }else if(sum==null){
                             $("#sums").html('代理商充值总金额：<font>' + 0 + '</font>');
                          }
                          else{
                            $("#sums").html('代理商充值总金额：<font>' + sum + '</font>');
                          }

                    }
            });
        }
			})



		</script>

	</th:block>

</body>
</html>