<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="modal fade bs-example-modal-sm" id="payOrderModel" tabindex="-1" role="dialog"
	     aria-labelledby="payOrder" aria-describedby="充值明细" th:fragment="payOrderModel">

		<div class="modal-dialog" role="document" aria-hidden="true">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="payOrder">明细</h4>
				</div>

				<div style="margin-top:10px;margin-left:15px;">
					<span id="sums" style="color:red;font-weight:500"></span>
				</div>

				<div class="modal-body">

					<th:block th:replace="~{layout/common :: table-paginator('model-table')}" />

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>

	</div>

	<th:block th:fragment="payOrderModelJS">
		<script type="text/javascript">

			var commonJs = new CommonJs();

			$('#payOrderModel').on('show.bs.modal', function (event) {
				var modal = $(this);
				var button = $(event.relatedTarget);
				var element = button.parents('tr');
				var superAgentId = element.find('td[name="account"]').text();
				var nickName = element.find('td[name="nickName"]').text();

				modal.find('.modal-title').text(nickName + "  " +  $('#startDate').val() + " 至 " + $('#endDate').val() + ' 下面充值明细');
				$('#model-table').tableInit('getOfficeAgentPayMessage', superAgentId);



			  $(function(){
	            //document加载完触发
	            queryMoneyAjax();
	            //日期Vlaue更改触发
                $("#monitorTime").on('change',function(){
                    queryMoneyAjax();
                });

            })

        function queryMoneyAjax(){
            $.ajax({
                    type: 'get',
                    url:'/admin/getOfficeAgentSumPayMessage/',
                    dataType:'Json',
                    async : false,
                    data:{
                    	superAgentId:superAgentId,
                        startDate: $('#startDate').val(),
                        endDate: $('#endDate').val()
                    },
                    success:function(result){
                          console.log(JSON.stringify(result));
                          var sum=result.n;
                          if(sum<0){
                            $("#sums").html('充值总金额：<font>' + 0 + '</font>');
                          }else if(sum==null){
                             $("#sums").html('充值总金额：<font>' + 0 + '</font>');
                          }
                          else{
                            $("#sums").html('充值总金额：<font>' + sum + '</font>');
                          }

                    }
            });
       	 }
	})


        </script>

	</th:block>


</body>
</html>