<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bamenyouxi.room_card_mode.mapper.mysql.room_card_mode.CardGift4PlayerRecordMapper">
	<resultMap id="resultMap" type="com.bamenyouxi.room_card_mode.model.mysql.room_card_mode.CardGift4PlayerRecord">
		<id property="id" column="F_ID" />
		<result property="sysFlag" column="F_SYS_FLAG" />
		<result property="creator" column="F_CREATOR" />
		<result property="createTime" column="F_CREATE_TIME" />
		<result property="modifier" column="F_MODIFIER" />
		<result property="modifyTime" column="F_MODIFY_TIME" />

		<result property="presenter" column="F_PRESENTER" />
		<result property="presentee" column="F_PRESENTEE" />
		<result property="cardNum" column="F_CARD_NUM" />
		<result property="giftReason" column="F_GIFT_REASON" />
	</resultMap>
</mapper>
