<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bamenyouxi.room_card_mode.mapper.mysql.room_card_mode.PayOrderMapper">
	<resultMap id="resultMap" type="com.bamenyouxi.room_card_mode.model.mysql.room_card_mode.PayOrder">
		<id property="id" column="F_ID" />
		<result property="sysFlag" column="F_SYS_FLAG" />
		<result property="creator" column="F_CREATOR" />
		<result property="createTime" column="F_CREATE_TIME" />
		<result property="modifier" column="F_MODIFIER" />
		<result property="modifyTime" column="F_MODIFY_TIME" />

		<result property="nickName" column="F_NICK_NAME"/>
		<result property="orderNo" column="F_ORDER_NO" />
		<result property="sysAgentId" column="F_SYS_AGENT_ID" />
		<result property="payPrice" column="F_PAY_PRICE" />
		<result property="cardNum" column="F_CARD_NUM" />
		<result property="cardGift" column="F_CARD_GIFT"/>
		<result property="account" column="F_ACCOUNT"/>

	</resultMap>

	<select id="get" resultMap="resultMap">
		SELECT
		a.F_ID,a.F_ACCOUNT,a.F_NICK_NAME,b.F_PAY_PRICE,b.F_CARD_NUM,b.F_CARD_GIFT,b.F_CREATE_TIME
		FROM
		t_sys_agent a
		RIGHT JOIN t_pay_order b ON a.F_ACCOUNT = b.F_SYS_AGENT_ID
	</select>

	<select id="queryCardforList" resultMap="resultMap">
		select F_ID,F_SYS_AGENT_ID,F_PAY_PRICE,F_CARD_NUM,F_CARD_GIFT,F_CREATE_TIME from t_pay_order
		<where>
			<if test="startDate != null">
				and convert(F_CREATE_TIME, DATE) &gt;= convert(#{startDate}, DATE)
			</if>
			<if test="endDate != null">
				and convert(F_CREATE_TIME, DATE) &lt;= convert(#{endDate}, DATE)
			</if>
		</where>
	</select>

	<select id="queryPayCard" resultMap="resultMap">
		SELECT
		a.F_ID,
		a.F_ACCOUNT,
		a.F_NICK_NAME,
		b.F_PAY_PRICE,
		b.F_CARD_NUM,
		b.F_CARD_GIFT,
		b.F_CREATE_TIME
		FROM
		t_sys_agent a
		INNER JOIN t_pay_order b ON a.F_ACCOUNT = b.F_SYS_AGENT_ID
		AND a.F_ACCOUNT = #{account}
	</select>


	<select id="getSumCard" resultMap="resultMap">
		SELECT
		SUM(b.F_PAY_PRICE) as F_PAY_PRICE,
		SUM(b.F_CARD_NUM) as F_CARD_NUM,
		SUM(b.F_CARD_GIFT) as F_CARD_GIFT
		FROM
		t_sys_agent a
		INNER JOIN t_pay_order b ON a.F_ACCOUNT = b.F_SYS_AGENT_ID
		WHERE
		a.F_SUPER_AGENT_ID = #{account}
	</select>


	<select id="getAgentSum" resultMap="resultMap" parameterType="map">
		SELECT
		F_ID,
		F_SYS_AGENT_ID,
		sum(F_PAY_PRICE) F_PAY_PRICE,
		sum(F_CARD_NUM) F_CARD_NUM,
		sum(F_CARD_GIFT) F_CARD_GIFT,
		F_CREATE_TIME
		FROM
		t_pay_order
		<where>
			<if test="startDate != null">
				and convert(F_CREATE_TIME, DATE) &gt;= convert(#{startDate}, DATE)
			</if>
			<if test="endDate != null">
				and convert(F_CREATE_TIME, DATE) &lt;= convert(#{endDate}, DATE)
			</if>
		</where>
		GROUP BY F_CREATE_TIME
	</select>

	<select id="getAgent" resultMap="resultMap" parameterType="map">
		SELECT
		F_ID,
		F_SYS_AGENT_ID,
		F_PAY_PRICE,
		F_CARD_NUM,
		F_CARD_GIFT,
		F_CREATE_TIME
		FROM
		t_pay_order
		<where>
			<if test="startDate != null">
				and convert(F_CREATE_TIME, DATE) &gt;= convert(#{startDate}, DATE)
			</if>
			<if test="endDate != null">
				and convert(F_CREATE_TIME, DATE) &lt;= convert(#{endDate}, DATE)
			</if>
		</where>
	</select>


	<select id="getsums" resultMap="resultMap">
		SELECT
		sum(F_PAY_PRICE) F_PAY_PRICE,
		sum(F_CARD_NUM) F_CARD_NUM,
		sum(F_CARD_GIFT) F_CARD_GIFT
		FROM
		t_pay_order
		<where>
			<if test="startDate != null">
				and convert(F_CREATE_TIME, DATE) &gt;= convert(#{startDate}, DATE)
			</if>
			<if test="endDate != null">
				and convert(F_CREATE_TIME, DATE) &lt;= convert(#{endDate}, DATE)
			</if>
		</where>
		ORDER BY
		F_CREATE_TIME DESC
	</select>


	<insert id="save" parameterType="com.bamenyouxi.room_card_mode.model.mysql.room_card_mode.PayOrder" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_pay_order(
		<if test="orderNo !=null">
			F_ORDER_NO,
		</if>
		<if test="sysAgentId !=null">
			F_SYS_AGENT_ID,
		</if>
		<if test="payPrice !=null">
			F_PAY_PRICE,
		</if>
		<if test="cardNum !=null">
			F_CARD_NUM,
		</if>
		<if test="cardGift !=null">
			F_CARD_GIFT
		</if>
		)
		VALUES(
		<if test="orderNo !=null">
			#{orderNo},
		</if>
		<if test="sysAgentId !=null">
			#{sysAgentId},
		</if>
		<if test="payPrice !=null">
			#{payPrice},
		</if>
		<if test="cardNum !=null">
			#{cardNum},
		</if>
		<if test="cardGift !=null">
			#{cardGift}
		</if>
		)
	</insert>






</mapper>
