<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bamenyouxi.room_card_mode.mapper.mysql.room_card_mode.SysAgentMapper">
    <cache />
    <resultMap id="resultMap" type="com.bamenyouxi.room_card_mode.model.mysql.room_card_mode.SysAgent">
        <id property="id" column="F_ID" />
        <result property="sysFlag" column="F_SYS_FLAG" />
        <result property="creator" column="F_CREATOR" />
        <result property="createTime" column="F_CREATE_TIME" />
        <result property="modifier" column="F_MODIFIER" />
        <result property="modifyTime" column="F_MODIFY_TIME" />

        <result property="account" column="F_ACCOUNT" />
        <result property="nickName" column="F_NICK_NAME" />
        <result property="password" column="F_PASSWORD" />
        <result property="secretKey" column="F_SECRET_KEY" />
        <result property="superAgentId" column="F_SUPER_AGENT_ID" />
        <result property="firstChargeTime" column="F_FIRST_CHARGE_TIME" />
        <result property="lastLoginTime" column="F_LAST_LOGIN_TIME" />
    </resultMap>

    <select id="get" resultMap="resultMap">
        select * from t_sys_agent
        <where>
            <foreach collection="params" index="key" item="value">
                <if test="value != null">
                    and ${key} = #{value}
                </if>
            </foreach>
        </where>
    </select>

    <insert id="save" parameterType="com.bamenyouxi.room_card_mode.model.mysql.room_card_mode.SysAgent" useGeneratedKeys="true" keyProperty="id">
        insert ignore into t_sys_agent
        (
            F_ACCOUNT, F_NICK_NAME, F_PASSWORD, F_SECRET_KEY
            <if test="superAgentId != null">
                , F_SUPER_AGENT_ID
            </if>
        ) values(
            #{account}, #{nickName}, #{password}, #{secretKey}
            <if test="superAgentId != null">
                , #{superAgentId}
            </if>
        )
    </insert>
</mapper>
