<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bamenyouxi.room_card_mode.mapper.mysql.room_card_mode.SysAgentExtendMapper">
	<resultMap id="resultMap" type="com.bamenyouxi.room_card_mode.model.mysql.room_card_mode.SysAgentExtend">
		<id property="id" column="F_ID" />
		<result property="sysFlag" column="F_SYS_FLAG" />
		<result property="creator" column="F_CREATOR" />
		<result property="createTime" column="F_CREATE_TIME" />
		<result property="modifier" column="F_MODIFIER" />
		<result property="modifyTime" column="F_MODIFY_TIME" />

		<result property="sysAgentId" column="F_SYS_AGENT_ID" />
		<result property="leftCardNum" column="F_LEFT_CARD_NUM" />
		<result property="soldCardNum" column="F_SOLD_CARD_NUM" />
	</resultMap>

	<insert id="save" parameterType="com.bamenyouxi.room_card_mode.model.mysql.room_card_mode.SysAgentExtend">
		insert ignore into t_sys_agent_extend
		(
			F_SYS_AGENT_ID
			<if test="leftCardNum != null">
				, F_LEFT_CARD_NUM
			</if>
			<if test="soldCardNum != null">
				, F_SOLD_CARD_NUM
			</if>
		) values(
			#{sysAgentId}
			<if test="leftCardNum != null">
				, #{leftCardNum}
			</if>
			<if test="soldCardNum != null">
				, #{soldCardNum}
			</if>
		)
	</insert>
</mapper>
