<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: common_head(_, _)">

</head>
<body th:replace="layout/body :: common_body(~{::div#container}, _)">

<div id="container" class="container">
	<div class="page-header"></div>

	<div class="well">
		<h3>一、如何收取返利？</h3>
		<p>（1）在您成为代理商后需先退出游戏，重新微信授权登陆游戏，由此工作人员便能获取您个人的OPENID作为转账凭证，每周根据结算额直接转账至您的微信零钱中。</p>
		<p>（2）代理商的微信钱包必须进行身份证验证并且绑定个人银行卡，才能实现返利收取。</p>
		<p>（3）注：跑胡子/跑得快为同一后台管理，只需在跑胡子（跑得快不支持同步）进行第一步即可。每周两个游戏代理费用将合成一笔进行结算发放。</p>

		<h3>二、如何发展下级代理商？</h3>
		<p>（1）当您成为代理商后，代理商后台会显示一个您的专属邀请码，邀请好友来玩并让好友绑定该码，就能实现与好友的绑定关系。邀请绑定15人即可开通授权下级代理商的权限。</p>
		<p>（2）邀请绑定的用户不足15人是不能开通授权下级代理商权限的哦。</p>
		<p>（3）在授权代理商的界面，填写您想授权的用户ID并点击授权，此ID用户便可成为您的下级代理商。</p>

		<h3>三、如何使用代开房功能？</h3>
		<p>（1）代开房功能主要辅助代理商维护、活跃群用户使用。当您的群用户较多无暇管理时，您可以授权您的会员帮您在游戏内开房。</p>
		<p>（2）点击“直属会员查询”，找到您想授权代开房的会员，点击“代开房”，他就有了为您开房的权限。</p>
		<p>（3）您赋予他这个权限后，他在游戏内开房所花费的金币/房卡将直接在您的账户上扣除。</p>
		<p>（4）您可以在“查看代开房信息（包含自己）”中查看被授权代开房会员的开房记录。</p>

		<h3>四、取消代理商资格</h3>
		<p>（1）成为代理商后，3周内绑定人数不到15人且充值金额达不到300元，则系统会自动取消代理商资格。</p>

		<h3>五、关于代理商网络推广规范</h3>
		<p>（1）从2017年5月25日起，禁止代理商在百度贴吧、百度知道、各大网站、论坛、微信公众号、微博、博客上做推广时留邀请码，只可留宣传内容和有效联系方式。上述网络推广渠道不包含微信朋友圈。</p>
	</div>
</div>

</body>
</html>