<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: common_head(_, _)">

</head>
<body th:replace="layout/body :: common_body(~{::div#container}, ~{::#selfJs})">

	<div id="container" class="container">

		<div class="page-header"></div>

		<div class="jumbotron"></div>

		<th:block th:replace="model/fixInfoModel :: fixInfoModel" />

	</div>

	<th:block id="selfJs">

		<th:block th:replace="~{model/fixInfoModel :: fixInfoModelJs}" />

		<script type="text/javascript">
			$('div.jumbotron').load('/agent/file/default/ #description');
		</script>

	</th:block>

</body>
</html>