<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: common_head(_, _)">

</head>
<body th:replace="layout/body :: common_body(~{::div#container}, ~{::#selfJs})">

	<div id="container" class="container">

		<div class="page-header"></div>

		<div class="well" th:object="${principal.sysAgent}">
			<div class="row">
				<div class="col-xs-4">邀　请　码</div>
				<div class="col-xs-8">[[*{gameId}]]</div>
			</div>
			<div class="row">
				<div class="col-xs-4">游　戏　id</div>
				<div class="col-xs-8">[[*{gameId}]]</div>
			</div>
			<div class="row">
				<div class="col-xs-4">用 户 昵 称</div>
				<div class="col-xs-8">[[*{nickName}]]</div>
			</div>
			<div class="row">
				<div class="col-xs-4">注 册 日 期</div>
				<div class="col-xs-8">[[*{#dates.format(createTime, 'yyyy-MM-dd')}]]</div>
			</div>
			<div class="row">
				<div class="col-xs-4">招 募 人 数</div>
				<div class="col-xs-8">[[*{recruitNum}]]</div>
			</div>
		</div>

		<!--<th:block th:if="${principal.sysAgent.showAnnounce}">-->
			<!--<div class="alert alert-info alert-dismissible" role="alert">-->
				<!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
				<!--<span class="glyphicon glyphicon-bullhorn"></span> 代理后台 1.1.3 更新公告-->
				<!--<p></p>-->
				<!--<img class="img-responsive" src="/img/fixInfo.jpg" th:src="@{/img/wzfixInfo.jpg}" th:alt-title="#{填写资料}" />-->
				<!--<p>代理资料加入省、市的填写，已填写过资料的代理可重新填写。</p>-->
				<!--<p class="pull-right"><button type="button" class="btn btn-link" onclick="new CommonJs().closeAnnounce()">不再提示</button></p>-->
				<!--<br />-->
			<!--</div>-->
		<!--</th:block>-->

		<div class="list-group">
			<th:block th:replace="~{layout/common :: list-group-item('/agent/announcement.html', 'glyphicon-bullhorn', '代理商须知')}" />
			<!--<th:block th:replace="~{layout/common :: list-group-item('/agent/qrcode-agent.html', 'glyphicon glyphicon-qrcode', '我的推广码')}" />-->
			<th:block th:replace="~{layout/common :: list-group-item('/agent/team-gold-field.html', 'glyphicon-flag', '团队金币消耗实时统计')}" />
			<th:block th:replace="~{layout/common :: list-group-item('/agent/team-pay-order.html', 'glyphicon-flag', '团队充值实时统计')}" />
			<th:block th:replace="~{layout/common :: list-group-item('/agent/team-pay-order-statistic.html', 'glyphicon-flag', '团队充值日结算')}" />
			<th:block th:replace="~{layout/common :: list-group-item('/agent/junior.html', 'glyphicon-chevron-down', '直属会员查询')}" />
			<th:block th:replace="~{layout/common :: list-group-item('/agent/authorize.html', 'glyphicon-hand-right', '授权下级代理商')}" />
			<th:block th:replace="~{layout/common :: list-group-item('/agent/pay-order.html', 'glyphicon-list-alt', '我的充值明细')}" />
			<th:block th:replace="~{layout/common :: list-group-item('/agent/query-agent.html', 'glyphicon glyphicon-indent-left', '代理购卡信息')}" />
			<th:block th:replace="~{layout/common :: list-group-item('/agent/group-room.html', 'glyphicon-home', '群房间列表')}" />
			<th:block th:replace="~{layout/common :: list-group-item('/agent/group-query-room.html', 'glyphicon glyphicon-send', '群主统计合伙人详细数据')}" />
			<th:block th:replace="~{layout/common :: list-group-item('/agent/query-partners.html', 'glyphicon glyphicon-yen', '群主统计合伙人局数')	}" />
			<th:block th:replace="~{layout/common :: list-group-item('/agent/info.html', 'glyphicon-user', '查看个人资料')}" />
		</div>

	</div>


	<th:block id="selfJs">

		<script type="text/javascript">

        $(function(){
              $.ajax({
                type: 'get',
                url:'/agent/pages/',
                async: false,
                dataType:'Json',
                success:function(result){
                console.log(JSON.stringify(result));
                  var i=result.n;
                  var n=result.s;
                    if(i=='1'){
                        var htmlTh_Blocks2= $(".list-group").append('<a href="/agent/query-sum-card.html" class="list-group-item">'
                        +'<span class="glyphicon glyphicon glyphicon-file"></span> 代理充值明细'
                        +'<span style="float: right;">&gt;</span></a>');

                         var htmlTh_Blocks2= $(".list-group").append('<a href="/agent/query-sum-gold.html" class="list-group-item">'
                        +'<span class="glyphicon glyphicon-minus"></span> 代理金币消耗明细'
                        +'<span style="float: right;">&gt;</span></a>');
                    }if(n=='1'){
						var htmlTh_Blocks3= $(".list-group").append('<a href="/agent/update-user-gold.html" class="list-group-item">'
                        +'<span class="glyphicon glyphicon-indent-left"></span> 代理清理金币'
                        +'<span style="float: right;">&gt;</span></a>');

                        var htmlTh_Blocks4= $(".list-group").append('<a href="/agent/query-clean-gold.html" class="list-group-item">'
                        +'<span class="glyphicon glyphicon-inbox"></span> 代理清理金币统计'
                        +'<span style="float: right;">&gt;</span></a>');
                    }
            }
        });
 })

        </script>


	</th:block>

</body>
</html>